<div class="row p-0 ms-0 me-0 col-12" style="height: 280px">
    <div class="col-5 p-0"></div>
    <div class="col-7 p-0">
        <div class="bg-light border-end border-start position-relative">
            <div class="col-12 shadow titulo-01 position-absolute top-0 d-block" style="background-color: rgb(45, 64, 88)">
                <span class="fs-3 ps-3 fst-italic text-white">Acerca de...</span>
            </div>
            <div class="col-12">
                <a class="nav-link position-absolute top-0 end-0 pe-3 pt-1" href="#"><img src="../../../../assets/btn_edi_01.png" alt="" width="30px" height="30px"></a>
            </div>
            <div class="div col-12 p-3 overflow-auto" style="height: 280px">
                <div class="border-bottom" style="height: 60px"></div>
                <div class="border-bottom mb-3" style="height: 10px"></div>
                <div><p>{{miPorfolio.encabezado.acercaDe}}</p></div>
                <div class="border-bottom" style="height: 10px"></div>
                <div class="border-bottom" style="height: 10px"></div>
            </div>
        </div>
    </div>
</div>