<header>
    <div class="container p-0" style="background-color: rgb(45, 64, 88);"> 
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <div class="container-fluid">
                <a class="navbar-brandu++" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank"><img src="../../../assets/logo_AP_03.png" alt="Argentina programa" width="90" height="30"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="http://www.yoprogramo.org.ar/" target="_blank">#Yo programo</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.facebook.com/EfrainELM/" target="_blank"><img src="../../../assets/logo_face_01.png" alt="logo_face_01" width="30" height="30"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.instagram.com/eleframen/?hl=es" target="_blank"><img src="../../../assets/instagram-logo.png" alt="instagram-logo" width="30" height="30"></a>
                        </li>
                    </ul>
                    <form class="d-flex"><!--modal barra nav login-->
                        <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text" id="addon-wrapping">@</span>
                                            <input type="text" class="form-control" placeholder="Usuario" aria-label="Usuario" aria-describedby="addon-wrapping">
                                        </div>
                                        <div class="input-group flex-nowrap mt-3">
                                            <span class="input-group-text" id="addon-wrapping">&</span>
                                            <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña" aria-label="Contraseña">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-primary">Ingresar</button>
                                    </div>
                              </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="container p-0">
        <div class="row position-relative">
            <div class="col-12">
                <img [src]="miPorfolio.encabezado.banner"  class="img-fluid B-banner-01" alt="banner_03">
            </div>
            <div class="col-5 img-fluid position-absolute h-50 top-100">
                <div class="div img-fluid position-absolute top-0 start-50 translate-middle">
                    <img [src]="miPorfolio.encabezado.imgPersonal" class="rounded-circle border border-5 border-primary img-fluid" alt="Efrain Landaeta">
                    <a class="p-0 position-absolute h-25 d-inline-block w-25 bottom-0 end-0" href="#"><img class="pt-2 ps-2 position-absolute bottom-0 end-0 img-fluid"  src="../../../assets/btn_edi_negro.png" alt=""></a>
                    <div class="col-12 position-relative">
                        <div class="col-12 p-0 position-absolute">
                            <div class="border-bottom" style="height: 10px"></div>
                            <div class="border-bottom" style="height: 10px"></div>
                            <div class="text-center align-center lh-1 fs-3 fst-italic">{{miPorfolio.encabezado.nombre}}</div>
                            <div class="text-center lh-1 pt-1">{{miPorfolio.encabezado.titulo}}</div>
                            <div class="border-bottom" style="height: 10px"></div>
                            <div class="border-bottom" style="height: 10px"></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <app-acerca-de></app-acerca-de>
    </div>
</header>
