<div class="container p-0">
    <div class="row p-0 m-0 border-start">
        <div class="div col-12" style="height: 5px; background-color: rgb(45, 64, 88)"></div>
        <div class="div col-5 p-0">
            <div class="position-relative h_delante">
                <div class="col-12 shadow titulo-01 position-absolute top-0 d-block" style="background-color: rgb(45, 64, 88)">
                    <span class="align-center fs-3 ps-3 fst-italic text-white">Estudios...</span>
                </div>
                <div class="col-12">
                    <a class="position-absolute top-0 end-0 pe-3 pt-1" href="#"><img src="../../../assets/btn_mas_02.png" alt="" width="25" height="25"></a>
                </div>
            </div>
        </div>
    </div><ul class="list-group">
        <li *ngFor="let estudios of estudiosList">
            <div class="row col-12 p-0 m-0">
                <div class="col-3 bg-light border-end border-start p-4 position-relative"><!--modulo foto-->
                    <img [src]="estudios.img" class="img-fluid position-absolute top-50 start-50 translate-middle img-fluid p-3" alt="Plettac">
                </div>
                <div class="col-9 p-4"><!--modulo descripcion-->
                    <div class="col-12 p-3 overflow-auto position-relative">
                        <div class="col-12 position-relative" style="height: 30px">
                            <a class="position-absolute top-0 end-0 pe-4" href="#"><img src="../../../../assets/btn_edi_negro.png" alt="" width="25" height="25"></a><a class="position-absolute top-0 end-0" href="#"><img src="../../../../assets/btn_eli_01.png" alt="" width="25" height="25"></a>
                        </div>
                        <h3>{{estudios.posicion}}</h3> 
                        <h5>{{estudios.instituto}}</h5>
                        <h6><time>{{estudios.inicio}}</time> - <time>{{estudios.final}}</time></h6>
                        <div class="border-bottom" style="height: 20px"></div>
                        <div class="border-bottom mb-3" style="height: 10px"></div>
                        <div><p>{{estudios.descripcion}}</p></div>
                        <div class="border-bottom" style="height: 10px"></div>
                        <div class="border-bottom" style="height: 10px"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>